body {
  background-color: #f2f2f2;
  color: #222;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding: 20px;
}

h1 {
  color: #e21833;
}

input, select, button {
  font-size: 14px;
  margin: 5px;
}

li {
  background: white;
  padding: 10px;
  margin: 10px 0;
}
